@font-face {
    font-family: Poppins;
    src: url(../fonts/Poppins/SVN-Poppins-Regular.ttf);
}

@font-face {
    font-family: KelsonSans;
    src: url(../fonts/SVN-KelsonSans/SVN-KelsonSans-Regular.otf);
}

@font-face {
    font-family: CapricaScript;
    src: url(../fonts/SVN-CapricaScript/SVN-CapricaScript.ttf);
}

@font-face {
    font-family: Stash-Vintage;
    src: url(../fonts/MTD-Stash-Vintage.otf);
}

:root {
    --primary-font-family: Poppins;
    --primary-color: #343434;
    --secondary-color: #A58945;
}

.text-primary {
    color: var(--primary-color) !important;
}

.text-secondary {
    color: var(--secondary-color) !important;
}

.boxed-btn {
    background: #fff;
    color: #fff !important;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid #ff2020;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer
}

.boxed-btn:hover {
    background: #ff2020;
    color: #000 !important;
    border: 1px solid #ff2020
}

.boxed-btn:focus {
    outline: none
}

.boxed-btn.large-width {
    width: 220px
}

[data-overlay] {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

[data-overlay]::before {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: "";
}

[data-opacity="1"]::before {
    opacity: 0.1;
}

[data-opacity="2"]::before {
    opacity: 0.2;
}

[data-opacity="3"]::before {
    opacity: 0.3;
}

[data-opacity="4"]::before {
    opacity: 0.4
}

[data-opacity="5"]::before {
    opacity: 0.5;
}

[data-opacity="6"]::before {
    opacity: 0.6;
}

[data-opacity="7"]::before {
    opacity: 0.7;
}

[data-opacity="8"]::before {
    opacity: 0.8;
}

[data-opacity="9"]::before {
    opacity: 0.9;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font: normal normal 15px/18px Roboto;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
}

.mt-nega-100 {
    margin-top: -100px;
}

[class^="icons-"],
[class*="icons-"] {
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-size: 200px 200px !important;
}

.icons-p-yd {
    background-position: -57px -5px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.icons-p-origin {
    background-position: -12px -5px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.icons-arrow {
    background-position: -172px -38px;
    width: 17px;
    height: 12px;
    margin-left: 10px;
}

.icons-arrow_right {
    background-position: -108px -37px;
    width: 16px;
    height: 12px;
    margin-left: 10px;
}

.icons-arrow_left {
    background-position: -138px -37px;
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.icons-arrow_white {
    background-position: -62px -41px;
    width: 18px;
    height: 11px;
    margin-left: 10px;
}

.icons-mouse {
    background-position: -170px -58px;
    width: 21px;
    height: 35px;
}

.icons-cart {
    background-position: -119px -55px;
    width: 38px;
    height: 38px;
    margin: 6px 0;
    margin-right: 16px;
}

.icons-clock {
    background-position: -105px -8px;
    width: 20px;
    height: 20px;
    margin-right: 14px;
}

[class^="icons-flag__"],
[class*="icons-flag__"] {
    width: 24px;
    height: 16px;
    display: inline-block;
    margin-right: 10px;
}

.icons-flag__vn {
    background-position: -168px -10px;
}

.icons-flag__jp {
    background-position: -135px -10px;
}

.lang-selector {
    position: relative;
}

.mt-40 {
    margin-top: 40px;
}

.mt-25 {
    margin-top: 25px;
}

.lang-selector .lang {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    font: normal normal 15px/22px var(--primary-font-family);
    color: var(--secondary-color) !important;
}

.lang-dropdown {
    position: absolute;
    z-index: 2;
    background-color: #fff;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    top: 2.5rem;
    width: 100%;
    padding: .5rem 0;
    box-shadow: -1px 0px 3px 0px var(--secondary-color);
}

.lang-dropdown li {
    text-align: center;
    margin-bottom: .5rem;
}

.lang-dropdown li:last-child {
    margin-bottom: unset;
}

.page-title {
    display: inline-block;
    position: relative;
    font: normal bold 42px/50px KelsonSans;
    letter-spacing: 0.1em;
    color: #fff;
    text-transform: uppercase;
}

.page-title::before,
.page-title::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 0;
    border: 1px solid #fff;
    transform: rotate(138deg);
}

.page-title::before {
    top: 0;
    left: -25px;
}

.page-title::after {
    bottom: 0;
    right: -25px;
}

.bg-img-1 {
    background-image: url(../img/slider/slider-img-1.jpg)
}

.bg-img-2 {
    background-image: url(../img/background-img/bg-img-2.jpg)
}

.cta-bg-1 {
    background-image: url(../img/background-img/bg-img-3.jpg)
}

.img {
    max-width: 100%;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

.f-left {
    float: left
}

.f-right {
    float: right
}

.fix {
    overflow: hidden
}

.clear {
    clear: both
}

a,
.button {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a {
    color: var(--primary-color);
}

a:focus,
a:hover,
.portfolio-cat a:hover,
.footer-menu li a:hover {
    text-decoration: none
}

button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

.uppercase {
    text-transform: uppercase
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

.capitalize {
    text-transform: capitalize
}

.theme-overlay {
    position: relative
}

.theme-overlay::before {
    background: #1696e7 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%
}

.overlay {
    position: relative;
    z-index: 0
}

.overlay::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1
}

.overlay2 {
    position: relative;
    z-index: 0
}

.overlay2::before {
    position: absolute;
    content: "";
    background-color: #2E2200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5
}

.separator {
    border-top: 1px solid #f2f2f2
}

.header-btn {
    padding: 25px 28px !important
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .header-btn {
        padding: 25px 21px !important
    }
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none
}

.hero-btn {
    padding: 25px 29px;
    background: #4a4a4b
}

.hero-btn::before {
    background: #ff2020
}

.black-btn {
    background: #000;
    box-shadow: 0px 20px 50px 0px rgba(22, 22, 22, 0.2);
    transform: translateY(0px);
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    margin-bottom: 0;
    padding: 27px 44px;
    border-radius: 25px
}

.black-btn:hover {
    box-shadow: 0px 20px 50px 0px rgba(12, 9, 9, 0.2);
    transform: translateY(-3px)
}

.shop1-btn {
    box-shadow: 0px 20px 50px 0px rgba(37, 119, 253, 0.2)
}

.border-btn {
    background: none;
    -moz-user-select: none;
    border: 2px solid #ff2020;
    padding: 18px 38px;
    margin: 10px;
    text-transform: capitalize;
    color: #ff2020;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
    border-radius: 5px;
    position: relative;
    transition: color 0.4s linear;
    position: relative;
    overflow: hidden;
    margin: 0
}

.border-btn::before {
    border: 2px solid transparent;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ff2020;
    z-index: -1;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleY(0)
}

.border-btn:hover::before {
    transform: scaleY(1);
    order: 2px solid transparent
}

.border-btn.border-btn2 {
    padding: 17px 52px
}

.send-btn {
    background: #ff2020;
    color: #fff;
    font-size: 14px;
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.send-btn::before {
    border: 2px solid transparent;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #e6373d;
    color: #ff2020;
    z-index: -1;
    transition: transform 0.5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0)
}

.send-btn:hover::before {
    transform: scaleY(1);
    order: 2px solid transparent;
    color: red
}

.breadcrumb>.active {
    color: #888
}

#scrollUp {
    background: #A58945;
    height: 50px;
    width: 50px;
    right: 31px;
    bottom: 18px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    line-height: 48px;
    border: 2px solid transparent
}

@media (max-width: 575px) {
    #scrollUp {
        right: 16px
    }
}

#scrollUp:hover {
    color: #fff
}

.sticky-bar {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    z-index: 9999;
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    background: #fff
}

.section {
    padding-top: 80px;
    padding-bottom: 130px;
    overflow: hidden;
}

.section-title {
    display: inline-block;
    font: normal bold 36px/54px var(--primary-font-family);
    color: var(--primary-color);
    margin-bottom: 70px;
    padding-left: 30px;
    position: relative;
    text-transform: uppercase;
    transform-style: preserve-3d;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 83px;
    height: 83px;
    left: 0;
    top: -15px;
    border-radius: 5000px;
    background: var(--secondary-color);
    z-index: auto;
    transform: translateZ(-1px);
}

.section-title::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    right: -19px;
    top: -11px;
    border-radius: 5000px;
    background: var(--secondary-color);
    transform: translateZ(-1px);
}

.section-title span::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    right: -32px;
    top: 0px;
    border-radius: 5000px;
    border: 1px solid var(--secondary-color);
    transform: translateZ(-1px);
}

.section-title-secondary {
    font: normal bold 30px/45px var(--primary-font-family);
    color: var(--secondary-color);
    position: relative;
    margin-bottom: 40px;
}

.section-title-secondary::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 0;
    bottom: -8px;
    left: 0;
    border-top: 4px solid var(--secondary-color);
}

.section-title-normal {
    font: normal bold 30px/45px var(--primary-font-family);
    color: var(--primary-color);
    margin-bottom: 20px;
}

.btn-primary {
    display: inline-block;
    outline: none;
    border-color: unset;
    border: 1px solid var(--secondary-color);
    font: normal bold 14px/21px var(--primary-font-family);
    color: var(--secondary-color);
    background-color: #fff;
    border-radius: 5000px;
    padding: .65rem 2.5rem;
    text-decoration: none;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    display: inline-block;
    color: #fff !important;
    border: 1px solid var(--secondary-color) !important;
    background-color: var(--secondary-color) !important;
    box-shadow: unset;
    outline: none;
}

.btn-links,
.btn-links:hover,
.btn-links:focus {
    display: inline-flex;
    justify-content: start;
    align-items: center;
    font: normal bold 16px/24px var(--primary-font-family);
    text-align: center;
    color: var(--secondary-color);
    text-decoration: none;
    outline: none;
}

.text-bold {
    font-weight: bold;
}

/* header */
.sticky-bar,
.header-area {
    background-color: #1F1F1F;
}

.header-area .main-header .menu-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center
}

.header-area .main-header .menu-wrapper .main-menu ul li {
    display: inline-block;
    position: relative;
    z-index: 1
}

.header-area .main-header .menu-wrapper .main-menu ul li a {
    font: normal normal 15px/22px var(--primary-font-family);
    color: #fff;
    padding: 25px 21px;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .header-area .main-header .menu-wrapper .main-menu ul li a {
        padding: 25px 10px;
    }
}

.header-area .main-header .menu-wrapper .main-menu ul li:hover>ul.submenu {
    visibility: visible;
    opacity: 1;
    top: 100%
}

.header-area .main-header .menu-wrapper .main-menu ul li:hover>ul.submenu::before {
    top: -8px
}

.header-area .main-header .menu-wrapper .main-menu ul ul.submenu {
    position: absolute;
    width: 170px;
    background: #fff;
    left: 0;
    top: 90%;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
    padding: 17px 0;
    border-top: 3px solid var(--secondary-color);
    font: normal normal 15px/22px var(--primary-font-family);
    border-radius: 7px 7px 3px 3px;
    -webkit-transition: all .2s ease-out 0s;
    -moz-transition: all .2s ease-out 0s;
    -ms-transition: all .2s ease-out 0s;
    -o-transition: all .2s ease-out 0s;
    transition: all .2s ease-out 0s
}

.logo a {
    display: inline-block;
}

.header-area .main-header .menu-wrapper .main-menu ul ul.submenu>li {
    margin-left: 7px;
    display: block
}

.header-area .main-header .menu-wrapper .main-menu ul ul.submenu>li>a {
    padding: 6px 10px !important;
    font-size: 16px;
    color: var(--primary-color);
    text-transform: capitalize
}

.header-area .main-header .menu-wrapper .main-menu ul ul.submenu>li>a:hover {
    background: none
}

.header-area .main-header .menu-wrapper .main-menu ul ul.submenu::before {
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent var(--secondary-color) transparent;
    content: "";
    top: -5px;
    left: 13%;
    position: absolute;
    transition: .3s;
    z-index: -1;
    overflow: hidden;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .main-header .menu-wrapper .header-right {
        margin-right: 82px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .header-area .main-header .menu-wrapper .header-right {
        margin-right: 73px
    }
}

@media (max-width: 575px) {
    .header-area .main-header .menu-wrapper .header-right {
        position: relative;
        bottom: -73px;
        z-index: 3;
        right: 5px
    }
}

.header-area .main-header .menu-wrapper .header-right ul:not(.lang-dropdown) {
    display: flex !important;
    justify-content: space-between
}

.header-area .main-header .menu-wrapper .header-right .nav-search {
    display: inline-block
}

.header-area .main-header .menu-wrapper .header-right span {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 0 16px;
}

.header-area .main-header .menu-wrapper .header-right span:hover {
    color: var(--secondary-color);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-area .main-header .menu-wrapper .header-right span {
        padding: 0 19px
    }
}

@media (max-width: 575px) {
    .header-area .main-header .menu-wrapper .header-right {
        position: absolute;
        top: 27px;
        right: 80px;
    }

    .header-area .main-header .menu-wrapper .header-right span {
        padding: 0 9px;
    }
}

@media (max-width: 575px) {
    .header-sticky.sticky-bar.sticky .header-right {
        display: none
    }
}

/* end header */

/* mobile menu */
.mobile_menu {
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 99
}

.mobile_menu .slicknav_menu {
    background: transparent;
    margin-top: 0px !important
}

.mobile_menu .slicknav_menu .slicknav_btn {
    top: -48px;
    display: block;
}

.mobile_menu .slicknav_menu .slicknav_btn .slicknav_icon-bar {
    background-color: var(--secondary-color) !important
}

.mobile_menu .slicknav_menu .slicknav_nav {
    background: #fff;
    float: right;
    transform: translate(15px, 0);
    margin-top: -6px;
    padding: 19px;
    width: 100vw;
    height: 100%;
    border-bottom: 1px solid #eee;
    overflow-y: auto;
    -webkit-overflow-scroll: touch;
    scroll-behavior: smooth;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .mobile_menu .slicknav_menu .slicknav_nav {
        transform: translate(calc(calc(100vw - 720px) / 2 + 15px), 0);
    }
}

@media (min-width: 576px) and (max-width: 787.98px) {
    .mobile_menu .slicknav_menu .slicknav_nav {
        transform: translate(calc(calc(100vw - 540px) / 2 + 15px), 0);
    }
}
 
.mobile_menu .slicknav_menu .slicknav_nav a:hover {
    background: transparent;
    color: #ff2020
}

.mobile_menu .slicknav_menu .slicknav_nav a {
    font-size: 15px;
    padding: 7px 10px 7px 5px;
}

.mobile_menu .slicknav_menu .slicknav_nav .slicknav_item a {
    padding: 0 !important
}

/* end mobile menu */

/* search */
.search-model-box {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(43, 43, 43, 0.527);
    z-index: 99999
}

.search-model-box .search-model-form {
    padding: 0 15px
}

.search-model-box .search-model-form input {
    width: 500px;
    font-size: 40px;
    border: none;
    border-bottom: 2px solid #333;
    background: #fff;
    padding-left: .5rem;
    padding-right: .5rem;
    color: #999
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .search-model-box .search-model-form input {
        width: 251px;
        font-size: 26px
    }
}

@media (max-width: 575px) {
    .search-model-box .search-model-form input {
        width: 251px;
        font-size: 26px
    }
}

.search-model-box .search-close-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 28px;
    line-height: 28px;
    top: 30px;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

/* search */

/* slide */
.home-carousel .item {
    width: 100%;
    height: calc(100vh - 72px);
    position: relative;
}

.home-carousel .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.home-carousel .item::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 110px;
    border-top: 70px solid transparent;
    border-left: calc(50vw - 8px) solid #e4e4e4;
    ;
    border-right: calc(50vw - 8px) solid #e4e4e4;
    ;
}

.home-carousel .item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 80px;
    border-top: 70px solid transparent;
    border-left: calc(50vw - 8px) solid #fff;
    border-right: calc(50vw - 8px) solid #fff;
}

.home-carousel .owl-nav .owl-prev,
.home-carousel .owl-nav .owl-next {
    position: absolute;
    top: 40%;
    background-color: unset;
    transform: translate(0, -50%);
    border: unset;
    outline: none;
    border-radius: unset;
}

.home-carousel .owl-nav .owl-prev {
    left: 20%;
}

.home-carousel .owl-nav .owl-next {
    right: 20%;
}

.home-carousel .owl-nav .owl-prev span,
.home-carousel .owl-nav .owl-next span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(165, 137, 69, 0.2);
    color: #fff;
    font-size: 32px;
    line-height: 28px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
}

.home-carousel .owl-dots {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 0);
}

.home-carousel .owl-dots .owl-dot {
    align-items: center;
    outline: none;
    width: 9px;
    height: 9px;
    border-radius: 5000px;
    border: 1px solid #ffffff;
    margin: 0 9px;
    padding: 0;
    background-color: transparent;
}

.home-carousel .owl-dots .owl-dot.active {
    background-color: #fff;
}

.home-carousel .item .banner-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-carousel .item .banner-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-carousel .item .banner-title h3 {
    font: normal normal 82px/118px CapricaScript;
    letter-spacing: 0.06em;
    text-align: center;
    color: #9F7817;
    -webkit-text-stroke: 3px #fff;
}

.home-carousel .item .banner-title p {
    background: rgba(165, 137, 69, 0.7);
    padding: 10px 0;
    text-align: center;
    font: normal bold 26px/31px KelsonSans;
    color: #fff;
}

@media (max-width: 1199.98px) {
    .home-carousel .item::before {
        border-left: 50vw solid #e4e4e4;
        ;
        border-right: 50vw solid #e4e4e4;
        ;
    }

    .home-carousel .item::after {
        border-left: 50vw solid #fff;
        border-right: 50vw solid #fff;
    }
}

@media (max-width: 991.98px) {
    .header-area .main-header .menu-wrapper {
        padding-top: 8px;
        padding-bottom: 4px;
    }
}

@media (max-width: 767.98px) {
    .home-carousel .owl-nav .owl-prev {
        left: 20px;
    }

    .home-carousel .owl-nav .owl-next {
        right: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .home-carousel .owl-nav .owl-prev {
        left: 40px;
    }

    .home-carousel .owl-nav .owl-next {
        right: 40px;
    }

    .home-carousel .item .banner-title h3 {
        font-size: 70px;
        line-height: 80px;
    }

    .home-carousel .item .banner-title p {
        font-size: 22px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .home-carousel .item .banner-title h3 {
        font-size: 70px;
        line-height: 80px;
    }

    .home-carousel .item .banner-title p {
        font-size: 22px;
    }
}

@media (max-width: 575.98px) {
    .home-carousel .item .banner-title h3 {
        font-size: 50px;
        line-height: 60px;
    }

    .home-carousel .item .banner-title p {
        font-size: 16px;
    }
}

/* end slide */

/* home about */
.about-section {
    overflow: hidden;
}

.about-section .section-body p {
    text-align: justify;
    font: normal normal 15px/22px var(--primary-font-family);
    color: var(--primary-color);
    margin-bottom: 22px;
}

.video-about {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
}

.video-about span {
    position: relative;
}

.video-about span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #000000;
    top: -26px;
    right: -26px;
    z-index: -1;
}

.video-about span::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 100px;
    background-color: #fff;
    border: 1px solid var(--secondary-color);
    bottom: -30px;
    left: -50px;
    z-index: -1;
}

.video-about img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 rgba(0, 0, 0, 0.05);
}

.video-about span div::before {
    content: "";
    position: absolute;
    width: 41px;
    height: 30px;
    top: -41px;
    right: -45px;
    background: #1F1F1F;
}

.video-about span div::after {
    content: "";
    position: absolute;
    width: 41px;
    height: 30px;
    bottom: -44px;
    left: 68px;
    background: var(--secondary-color);
}

@media (max-width: 991.98px) {
    .video-about {
        justify-content: center;
        margin-top: 70px;
    }
}

/* end home about */

/* home product */
.product-section {
    background-color: #F6F6F6;
}

.product-section .btn-links {
    margin-top: 20px;
}

.product {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 20px;
}

.product:hover {
    box-shadow: 0px 0px 0px 1px var(--secondary-color);
    box-sizing: border-box;
    border-radius: 5px;
}

.product:hover .img-container img {
    transform: scale(1.1);
}

.product a:first-child {
    width: 100%;
    display: block;
}

.product a:first-child h5 {
    font: normal bold 21px/31px var(--primary-font-family);
    text-align: center;
    color: var(--primary-color);
    min-height: 68px;
    margin-bottom: 10px;
}

.product .d-flex {
    justify-content: center;
    align-items: center;
    font: normal normal 14px/21px var(--primary-font-family);
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.product .img-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 270px;
    overflow: hidden;
}

.product .img-container img {
    width: auto;
    transition: .5s all ease-in;
}

/* end home product */

/* home procedure */
.procedure-section {
    background: #1F1F1F;
    position: relative;
    padding-bottom: 60px;
    margin-bottom: 50px;
}

.procedure-section p {
    font: normal normal 16px/24px var(--primary-font-family);
    color: #fff;
}

.mouse-dragging {
    display: inline-block;
    text-align: center;
    margin-top: 60px;
    overflow: hidden;
}

.mouse-dragging .icons-mouse {
    vertical-align: middle;
    margin-bottom: .5rem;
    animation: .4s dragging infinite;
}

.mouse-dragging .d-flex {
    justify-content: center;
    align-items: center;
}

.mouse-dragging .d-flex span {
    font: normal normal 14px/21px var(--primary-font-family);
    color: var(--secondary-color);
}

@keyframes dragging {
    0% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.procedure-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -40px;
}

.procedure {
    padding: 64px 2rem;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    overflow: hidden;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    position: relative;
    border-top: 15px solid var(--secondary-color);
    background-size: 100% 0;
    background-color: #fff;
}

.procedure:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.procedure .procedure-ico {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.procedure .procedure-ico .img-container {
    display: inline-block;
    width: 105px;
    height: 105px;
    margin-bottom: 80px;
}

.procedure .procedure-ico::after {
    content: '';
    display: inline-block;
    width: 1000px;
    height: 1px;
    background-color: #A3A3A3;
    position: absolute;
    left: 140px;
    bottom: 80px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.procedure:hover .procedure-ico::after {
    background-color: #fff;
}

.procedure .procedure-ico h6 {
    display: inline-block;
    margin-bottom: 80px;
    font: normal bold 40px/65px var(--primary-font-family);
    text-align: center;
    color: #A3A3A3;
}

.procedure:hover .procedure-ico h6 {
    color: #fff;
}

.procedure .procedure-ico img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
}

.procedure:hover .procedure-ico img {
    filter: brightness(5);
}

.procedure .procedure-name {
    font: normal bold 40px/65px var(--primary-font-family);
    color: #A3A3A3;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.procedure:hover .procedure-name {
    color: #fff;
}

.procedure .procedure-content .p {
    display: none;
    font: normal normal 15px/22px var(--primary-font-family);
    color: #fff;
    height: 244px;
}

.procedure .procedure-content .p p,
.procedure .procedure-content .p h1,
.procedure .procedure-content .p h2,
.procedure .procedure-content .p h3,
.procedure .procedure-content .p h4,
.procedure .procedure-content .p h5,
.procedure .procedure-content .p h6,
.procedure .procedure-content .p strong,
.procedure .procedure-content .p span {
    margin-bottom: 1.3rem;
    font: inherit;
}

.procedure:hover .procedure-content .p {
    display: block;
}

.procedure .procedure-content .p .btn-links {
    color: #fff;
}

.procedure .procedure-content .img {
    height: 244px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.procedure:hover .procedure-content .img {
    display: none;
}

.procedure .procedure-content .img img {
    height: 100%;
    width: auto;
}

.procedure:hover .procedure-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.section.map-section {
    padding-bottom: 0;
}

.map iframe {
    width: 100%;
    height: 600px;
}

@media (min-width: 992px) {
    .procedure-section .col-lg-3 {
        -ms-flex: 0 0 28%;
        flex: 0 0 28%;
        max-width: 28%;
    }
}

@media (min-width: 1200px) {
    .procedure-carousel .owl-stage {
        margin-bottom: 20px;
        overflow: visible;
    }

    .procedure-section .col-xl-4 {
        -ms-flex: 0 0 30%;
        flex: 0 0 30%;
        max-width: 30%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .procedure-section {
        margin-bottom: 0;
    }

    .procedure-container {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 10px;
    }

    .map iframe {
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 991.98px) {
    .procedure-section {
        margin-bottom: 0;
    }

    .procedure-container {
        position: relative;
        right: 0;
        top: 0;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 30px;
    }

    .procedure .procedure-name {
        font: normal bold 36px/55px var(--primary-font-family);
    }

    .mouse-dragging {
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .map iframe {
        width: 100%;
        height: 350px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .map iframe {
        width: 100%;
        height: 300px;
    }
}

@media (max-width: 575.98px) {
    .map iframe {
        width: 100%;
        height: 200px;
    }
}

/* end home proceduce */

/* footer */

.footer-area {
    padding-top: 2.2rem;
    background-color: #F6F6F6;
}

.footer-area .footer-logo {
    margin-bottom: 1rem;
}

.footer-area .footer-logo a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: start;
    align-items: center;
    font: normal bold 17px/25px var(--primary-font-family);
}

.footer-area .footer-logo a:hover {
    color: var(--primary-color);
}

.footer-area .footer-logo a img {
    margin-right: .5rem;
}

.footer-area .footer-pera i {
    color: var(--secondary-color);
}

.footer-area .footer-pera h6 {
    font: normal normal 14px/21px var(--primary-font-family);
    color: var(--primary-color);
}

.footer-area .footer-tittle h4 {
    font: normal bold 17px/25px var(--primary-font-family);
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.footer-area .footer-tittle ul li {
    color: #012f5f;
    margin-bottom: .5rem;
}

.footer-area .footer-tittle ul li a {
    font: normal normal 14px/21px var(--primary-font-family);
    color: var(--primary-color);
}

.footer-area .footer-tittle ul li a:hover {
    color: var(--secondary-color);
    padding-left: 5px
}

.footer-area .footer-tittle ul li a i {
    font-size: 18px;
    color: var(--secondary-color);
}

.footer-area .footer-tittle ul li a i[class^="fa-chevron-"],
.footer-area .footer-tittle ul li a i[class*="fa-chevron-"] {
    font-size: 11px;
}

.footer-copy-right {
    margin-top: 2rem;
    background: #1F1F1F;
    padding: .5rem 0;
}

.footer-copy-right p {
    color: #fff;
    font: normal normal 14px/21px var(--primary-font-family);
    text-align: center;
}

.footer-copy-right p i {
    color: #ff2020
}

.footer-copy-right p a {
    color: #ff2020
}

.footer-social a:last-child {
    padding-right: 0
}

.footer-social a i {
    color: #222222;
    font-size: 14px;
    padding: 5px 10px;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    transition: all .4s ease-out 0s;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg)
}

.footer-social a i:hover {
    color: #ff2020;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg)
}

/* end footer */

/* trang san pham */
.banner-container {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    min-height: 444px;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: start;
}

.banner-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(31, 31, 31, 0.4);
}

.products-section {
    padding-bottom: 90px;
}

.product-excerpt {
    font: normal normal 16px/24px var(--primary-font-family);
    color: var(--primary-color);
    margin-bottom: 17px;
}

.product-nav {
    margin-bottom: 50px;
}

.product-nav .nav-item .nav-link {
    font: normal normal 16px/24px var(--primary-font-family);
    text-align: center;
    color: var(--primary-color);
    border: 1px solid #A58945;
    box-sizing: border-box;
    border-radius: 5000px 0px 0px 5000px;
    padding: 13px 26px;
}

.product-nav .nav-item:last-child .nav-link {
    border-left: unset;
    border-radius: 0px 5000px 5000px 0px;
}

.product-nav .nav-item .nav-link.active {
    background-color: var(--secondary-color);
    color: #fff;
}

@media (max-width: 991.98px) {
    .product-nav .nav-item .nav-link {
        border-radius: 5000px;
        margin-bottom: 8px;
    }

    .product-nav .nav-item:last-child .nav-link {
        border-radius: 5000px;
        border: 1px solid #A58945;
        margin-bottom: 0;
    }
}

/* end trang san pham */

/* chi tiet san pham */
.app-breadcrumd .breadcrumb {
    background-color: transparent;
    font: normal normal 14px/21px var(--primary-font-family);
    color: #5A5A5A;
    padding: 1.25rem;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}

.app-breadcrumd .breadcrumb .breadcrumb-item {
    font: inherit;
}

.app-breadcrumd .breadcrumb .breadcrumb-item:not(:last-child):hover a {
    color: var(--secondary-color);
}

.app-breadcrumd .breadcrumb .breadcrumb-item.active {
    color: var(--secondary-color);
}

.app-breadcrumd .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    content: "›";
    font-size: 20px;
}

.product-details .d-product .product-name {
    font: normal bold 28px/42px var(--primary-font-family);
    color: var(--primary-color);
    margin-bottom: 8px;
}

.product-details .d-product .d-flex {
    justify-content: start;
    align-items: center;
    font: normal normal 14px/21px var(--primary-font-family);
    color: var(--secondary-color);
    margin-bottom: 11px;
}

.product-details {
    padding-bottom: 50px;
}

.img-preview #carousel-1 {
    margin-bottom: 20px;
}

.add-to-cart a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #A58945;
    border-radius: 50px;
    font: normal bold 16px/24px var(--primary-font-family);
    color: #fff;
    padding: 0 2rem;
}

.d-product .product-desc {
    font: normal normal 16px/24px var(--primary-font-family);
    color: var(--primary-color);
}

.info-container {
    margin-bottom: 20px;
}

.info-container strong,
.info-container h1,
.info-container h2,
.info-container h3,
.info-container h4,
.info-container h5,
.info-container h6,
.d-product .product-desc strong,
.d-product .product-desc h1,
.d-product .product-desc h2,
.d-product .product-desc h3,
.d-product .product-desc h4,
.d-product .product-desc h5,
.d-product .product-desc h6 {
    font-weight: bold;
}

.info-container p,
.info-container h1,
.info-container h2,
.info-container h3,
.info-container h4,
.info-container h5,
.info-container h6,
.d-product .product-desc p,
.d-product .product-desc h1,
.d-product .product-desc h2,
.d-product .product-desc h3,
.d-product .product-desc h4,
.d-product .product-desc h5,
.d-product .product-desc h6 {
    margin-bottom: 6px;
}

.info-container ul,
.d-product .product-desc ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
}

.info-container ul li:before,
.d-product .product-desc ul li:before {
    content: "-";
    /* Insert content that looks like bullets */
    padding-right: 8px;
}

#carousel-1 .item {
    overflow: hidden;
}

#carousel-1 .item img {
    width: 100%;
    height: auto;
}

#carousel-2 .item {
    height: 70px;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carousel-2 .item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
}

#carousel-2 .owl-item.synced .item {
    border: 1px solid rgba(165, 137, 69, 0.5);
}

.product-related {
    padding-bottom: 30px;
}

.product-related .row:last-child,
.product-info .row:last-child {
    border-bottom: 1px solid #F0F0F0;
}

.info-container {
    font: normal normal 16px/24px var(--primary-font-family);
    color: var(--primary-color);
}

.info-container img,
.info-container iframe,
.info-container video {
    max-width: 100%;
    height: auto;
}

.dcmh {
    font: normal bold 18px/27px var(--primary-font-family);
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: .5rem;
}

.dcmh-link {
    text-align: center;
    margin-bottom: 43px;
}

.dcmh-link a {
    display: inline-block;
    font: normal normal 16px/24px var(--primary-font-family);
    color: #fff;
    padding: 1rem 2rem;
    background: var(--secondary-color);
    box-sizing: border-box;
    border-radius: 5px;
}

.share-section .d-flex {
    align-items: center;
    justify-content: flex-start;
    padding-top: 15px;
    padding-bottom: 100px;
}

.share-section .d-flex a {
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #fff;
}

.share-section .d-flex a.fa-facebook-f {
    background-color: #134B88;
}

.share-section .d-flex a.fa-google {
    background-color: #FF4A58;
}

.share-section .d-flex a.fa-envelope {
    background-color: #A58945;
}

/* end chi tiet san pham */

/* tuyen dung */
.recruitment {
    font: normal normal 24px/36px var(--primary-font-family);
    color: var(--primary-color);
    margin-bottom: 30px;
}

.recruitment .img-container {
    max-height: 373px;
    object-position: 50% 50%;
    object-fit: cover;
    margin-bottom: 18px;
    overflow: hidden;
}

.recruitment .img-container img {
    object-position: 50% 50%;
    object-fit: cover;
    width: 100%;
    height: auto;
    transition: .3s;
}

.recruitment:hover .img-container img {
    transform: scale(1.1);
}

.recruitment h5 {
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 12px;
}

.recruitment .d-flex {
    justify-content: start;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: #5A5A5A;
    margin-bottom: 10px;
}

.recruitments-details table,
.recruitment table {
    font-size: 16px;
    line-height: 24px;
}

.recruitment table tr td {
    padding-bottom: 6px;
    padding-left: 20px;
}

.recruitments-details table tr td:first-child,
.recruitment table tr td:first-child {
    padding-left: 0;
    font-weight: bold;
}

.recruitment .btn-primary {
    border-radius: 5px;
}

/* end tuyen dung */

/* chi tiet tuyen dung */
.recruitments-details {
    margin-bottom: 20px;
}

.recruitments-details .section-title-normal {
    margin-bottom: 14px;
}

.recruitments-details .published {
    justify-content: start;
    align-items: center;
    font: normal normal 16px/24px var(--primary-font-family);
    color: #5A5A5A;
    margin-bottom: 20px;
}

.recruitments-details table {
    font: normal normal 16px/24px var(--primary-font-family);
    color: var(--primary-color);
}

.recruitments-details table tr td {
    padding-left: 30px;
    padding-bottom: 6px;
}

.recruitment-contents .info-container {
    padding-bottom: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid #F0F0F0;
}

.recruitment-contents .info-container h1 {
    font-size: 21px;
    line-height: 31px;
}

.recruitments-related {
    padding-bottom: 40px;
}

.recruitments-related .container {
    padding-top: 30px;
    border-top: 1px solid #F0F0F0;
}

/* end chi tiet tuyen dung */

/* lien he */
.contact-section {
    font: normal normal 16px/24px var(--primary-font-family);
    color: var(--primary-color);
}

.contact-section .bg-white {
    position: relative;
    box-shadow: 1px 1px 8px 1px rgba(27, 27, 27, 0.15);
    padding: 2.5rem 2.5rem;
}

.contact-section .bg-white::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 8%;
    height: 100%;
    background-color: var(--secondary-color);
}

.contact-section .cfc-contact h3 {
    font-size: 36px;
    line-height: 54px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    margin-bottom: 18px;
}

.contact-section .cfc-contact h3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 3px solid #A58945;
}

.contact-section .cfc-contact p {
    margin-bottom: 18px;
}

.contact-section .cfc-contact .cf-input {
    margin-bottom: 18px;
    color: var(--primary-color);
    background-color: transparent;
    border: unset;
    border-bottom: 1px solid #E2E2E2;
    padding: .5rem .15rem;
    border-radius: unset;
    outline: unset;
}

.contact-form .btn-primary {
    display: block;
    text-align: center;
    color: #fff !important;
    background-color: var(--secondary-color);
}

.contact-section .cfc-info {
    position: relative;
}

.contact-section .cfc-info .cfc-info-container {
    position: absolute;
    z-index: 12;
    top: 50%;
    right: 0;
    transform: translate(2.5rem, -50%);
    background: #1F1F1F;
    padding: 40px;
    font: normal normal 16px/24px var(--primary-font-family);
    color: #fff;
    text-align: center;
}

.contact-section .cfc-info .cfc-info-container img {
    margin-bottom: 20px;
}

.contact-section .cfc-info .cfc-info-container h1 {
    margin-bottom: 36px;
    font-weight: bold;
}

.cfc-info-container .d-flex img {
    width: 22px;
    height: auto;
    object-fit: fill;
    object-position: 50% 50%;
}

.cfc-info-container .d-flex {
    margin-bottom: 20px;
}

.cfc-info-container .d-flex h4 {
    font-weight: bold;
    margin-bottom: 8px;
}

.cfc-info-container .d-flex h4,
.cfc-info-container .d-flex p {
    text-align: left;
}

@media (max-width: 767.98px) {
    .contact-section .cfc-info .cfc-info-container {
        margin-top: 30px;
        position: relative;
        top: unset;
        transform: translate(0, 0);
        margin-right: calc(0px - 2.5rem - 15px);
    }
}

/* end lien he */

/* 404 page */
.section-404 {
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 73px - 246px);
    text-align: center;
    background-color: var(--secondary-color);
}

.section-404::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 65%;
    background-image: url(../images/wave.svg);
    background-size: 100% auto;
    background-position: left bottom;
    background-repeat: no-repeat;
}

.section-404 span {
    font: normal bold 30px/34px var(--primary-font-family);
    color: #fff;
}

.section-404 strong {
    margin: 0 30px;
}

.section-404 strong span {
    margin-bottom: 50px;
    display: inline-block;
}

.section-404 a.btn-primary {
    margin-top: 48px;
    box-shadow: 0 0 0 2px #fff inset;
    background-color: var(--secondary-color);
    color: #fff;
    transform-style: preserve-3d;
    transform: translateZ(5px);
}

.error {
    opacity: 1.5;
    transform-style: preserve-3d;
    transform: translateZ(5px);
}

/* end 404 page */

/* quy trinh */
.progress-section.section {
    padding-top: 30px;
    padding-bottom: 130px;
}

.progressing {
    border-bottom: 1px dashed var(--secondary-color);
}

.step {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 1rem 0;
    position: relative;
}

.step:not(:last-child)::before {
    content: "";
    position: absolute;
    top: calc(140px + 1rem);
    left: 69px;
    width: 0;
    height: calc(100% - 140px);
    border-left: 2px solid var(--secondary-color);
}

.step .step-image {
    width: 140px;
    height: 140px;
    margin-right: 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--secondary-color);
    border-radius: 5000px;
    transition: 1s;
}

.step.animated .step-image {
    background-color: var(--secondary-color);
}

.step .step-image img {
    transition: .5s;
}

.step.animated .step-image img {
    filter: brightness(5);
}

.step .step-details {
    width: calc(100% - 170px);
    padding: 1rem 0;
    font: normal normal 16px/24px var(--primary-font-family);
    text-align: justify;
    color: var(--primary-color);
    border-bottom: 1px dashed var(--secondary-color);
}

.step:last-child .step-details {
    border-bottom: unset;
}

.step-details {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.step-details .step-body h3 {
    display: inline-block;
    font: normal bold 36px/65px var(--primary-font-family);
    text-align: center;
    color: var(--primary-color);
    text-transform: uppercase;
}

.step-details .step-body {
    width: 40%;
    margin-right: 30px;
}

.step-slide {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: start;
    align-items: center;
    width: calc(100% - 40% - 30px);
    height: 100%;
}

.step-slide .step-carousel-1 {
    width: 78%;
}

.step-slide .step-carousel-2 {
    margin-left: auto;
    width: 20%;
    transform: rotate(90deg);
}

.step-slide .step-carousel-2 .item {
    transform: rotate(-90deg);
}

.foot-carousel {
    margin-top: 40px;
}

.foot-carousel .owl-nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-carousel .owl-nav .owl-prev,
.foot-carousel .owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 35px);
    transform: translate(0, -25%);
    background-color: #897f72;
    outline: none;
    box-shadow: unset;
    border: unset;
    color: rgb(230, 230, 230);
    font-size: 50px;
    padding: 20px 6px 30px 6px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-carousel .owl-nav .owl-prev {
    left: 0;
}

.foot-carousel .owl-nav .owl-next {
    right: 0;
}

.foot-carousel .owl-dots {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.foot-carousel .owl-dots .owl-dot {
    border: 1px solid #A58945;
    background-color: #fff;
    border-radius: 5000px;
    margin: 0 8px;
    width: 10px;
    padding: 0;
    height: 10px;
    outline: none;
    box-shadow: none;
}

.foot-carousel .owl-dots .owl-dot.owl-dot.active {
    background-color: #A58945;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .step .step-details {
        flex-direction: column;
        -ms-flex-direction: column;
    }

    .step-details .step-body {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .step-details .step-slide {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .step .step-details {
        flex-direction: column;
        -ms-flex-direction: column;
    }

    .step-details .step-body {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .step-details .step-slide {
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .step:not(:last-child)::before {
        top: calc(100px + 1rem);
        left: 49px;
        width: 0;
        height: calc(100% - 100px);
    }

    .step .step-image {
        width: 100px;
        height: 100px;
    }

    .step .step-image img {
        max-width: 60%;
        height: auto;
    }

    .step .step-details {
        flex-direction: column;
        -ms-flex-direction: column;
    }

    .step-details .step-body {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .step-details .step-slide {
        width: 100%;
    }
}

/* end quy trinh */

/* gioi thieu */
.introduce-section {
    padding-bottom: 80px;
}

.introduce-section .intro em {
    display: block;
    font: normal normal 20px/25px Stash-Vintage;
    text-align: justify;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.introduce-section .general {
    padding-top: 3rem;
}

.introduce-section .general .img-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduce-section .general .img-container img {
    max-width: 100%;
    height: auto;
}

.introduce-section .general .section-title {
    margin-top: 1rem;
}

.introduce-section .general td {
    padding-bottom: 1rem;
    font: normal normal 16px/24px var(--primary-font-family);
    color: var(--primary-color);
}

.introduce-section .general td:first-child {
    white-space: nowrap;
    padding-right: 1rem;
    font-weight: bold;
}

.partner-section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.partner-section.manu-partner {
    padding-bottom: 100px;
}

.partner-section.manu-partner .section-title {
    margin-bottom: 40px;
}

.partner-section .partner-info h5 {
    font: normal bold 18px/27px var(--primary-font-family);
    color: var(--primary-color);
    margin-bottom: 10px;
}

.partner-section .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-section .img-container img {
    max-width: 100%;
    height: auto;
}

.partner-section .partner-info {
    font: normal normal 16px/24px var(--primary-font-family);
    color: var(--primary-color);
}

.partner-section .partner-info .d-flex {
    margin-bottom: 10px;
    font: normal normal 16px/24px var(--primary-font-family);
    color: var(--primary-color);
}

.partner-section .partner-info .d-flex i {
    color: var(--secondary-color);
}

.partner-section .partner-info .d-flex strong {
    font-weight: bold;
    color: var(--secondary-color);
}

.partner-section .partner-info .mt-40 p{
    margin-bottom: 12px;
}

.partner-section .partner-info .mt-25 img {
    width: 100%;
    height: auto;
    max-height: 189px;
}

.partner-section .partner-info .mt-25 h6 {
    text-align: center;
    margin: 20px 0;
}

.manu-partner p {
    font: normal normal 16px/24px var(--primary-font-family);
    text-align: center;
    color: var(--primary-color);
}

@media (min-width: 768px) {
    .manu-partner .col-md-10 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .manu-partner .offset-md-1 {
        margin-left: 12.5%;
    }
}

.manu-partner .img-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* end gioi thieu */